@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeeklyPickupDay">Select or change weekly pickup day:&nbsp;</label><select id="WeeklyPickupDay" name="WeeklyPickupDay">
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thurday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday;</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ExtraOneTimePickup">Select One-Time Extra Trash Pickup Date:</label>
                <input type="date" id="ExtraOneTimePickup" name="ExtraOneTimePickup">
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate">Trash Pickup Start Date:</label>
                <input id="StartDate" name="StartDate" type="date" />
            </div>
            <div class="form-group">
                <label asp-for="EndDate">Trash Pickup End Date:&nbsp;&nbsp;</label>&nbsp;
                <input id="EndDate" name="EndDate" type="date" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
