@model IEnumerable<TrashCollector.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Today's Pickups! </h1> <form action="/action_page.php">
    <p>
        Filter by day:<br /><select name="Todays_Day">
            <option selected="selected" value=""></option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
        </select><br /><input type="submit" value="Submit" />
    </p>
</form>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>         
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="CustomerProfile" asp-route-id="@item.CustomerId">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
</td>
        </tr>
}
    </tbody>
</table>
