@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Trash Collector</h1>
    <p>Please log in to use our services!</p>
</div>

<center><p><img src="https://www.rd.com/wp-content/uploads/2017/09/1-Things-Garbage-Collectors-Want-You-to-Know_158222594-Dmitry-Kalinovsky-760x506.jpg" alt="Things-Garbage-Collectors-Want-You-to-Know" /></p></center>